@import "~antd/dist/antd.less";

@app-theme-color        : #356ff0;

// https://ant.design/docs/react/customize-theme
@primary-color          : @app-theme-color;
@menu-dark-submenu-bg: @app-theme-color;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: @app-theme-color;

body {
  padding: 24px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  .ant-input-affix-wrapper {
    .ant-input {
      min-height: 0;
    }
  }
}